<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1>Home Page</h1>
        <button><a href="./login">Login</a></button>
        <button><a href="./reg">Reg</a></button>
    </header>

    <main>
        <div>
            <p>Here the test page for utilising ExpressJS to run a local server.</p>
            <p>Later I will hopefully implement a REST Api, for logging in and registering users.</p>
        </div>
    </main>

    <footer>Harry Larke 2025</footer>

</body>
</html>