<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Our</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main>
        <header>
            <h1>Logged Out</h1> 
            <button><a href="/">Home</a></button>
        </header>
        <div>
            <h2>You are now logged out!</h2>
            <p>If you would like to return home click the home button above: </p>
        </div>
    </main>
</body>
</html>