<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h1>Login</h1>
        <button><a href="/">Home</a></button>
        <button><a href="/reg">Reg</a></button>
    </header>
    
    <main>
        <h2>Please enter your details below:</h2>

        <form action="/auth" id="loginForm" method="post"> 
            <label for="user">Username</label>
            <input type="text" id="user" name="user" placeholder="Username">
            <label for="pwd">Password</label>
            <input type="text" id="pwd" name="pwd" placeholder="Password1234">
            <br>
            <button type="submit">Login</button>
        </form>
    </main>

    <footer>Harry Larke 2025</footer>
</body>
</html>