<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="css/style.css">

    
</head>
<body>
    <header>
        <h1>Register</h1>
        <button><a href="/">Home</a></button>
        <button><a href="login">Login</a></button>
    </header>
    
    <main>
        <h2>Please enter your details:</h2>

        <form id="regForm" action="/users" method="post">
            <label for="user">Add username</label>
            <input type="text" name="user" id="user" placeholder="Add username" required>
            <label for="pwd">Add password</label>
            <input type="text" name="pwd" id="pwd" placeholder="Add password" required>
            <br>
            <button type="submit">Submit</button>
        </form>
    </main>

    <footer>Harry Larke 2025</footer>

</body>
</html>