<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="../public/css/style.css">

</head>
<body>
    <header>
        <h1>Welcome User!</h1>
        <button><a href="/logout">Logout</a></button>
    </header>

    <main>
        <div>
            <p>You are now in the user page which you can only access as a user!</p>
            <p>I will plan to use Access Token so you can get more info depending on your role!</p>
        </div>
    </main>

    <footer>Harry Larke 2025</footer>
</body>
</html>